.nav-h {
   height: 45px;
}

.border {
   border: 1px solid gray;
}

.m-p {
   padding-left: 70px;
   padding-right: 70px;
}

.d-flex {
   display: flex;
}

.w-100 {
   width: 100%;
}

.m-0 {
   margin: 0;
}

.h-auto {
   height: fit-content;
}

.h-100 {
   height: 100vh;
}

.w-auto {
   width: fit-content;
}

.justify-content-between {
   justify-content: space-between;
}

.justify-content-around {
   justify-content: space-around;
}

.justify-content-center {
   justify-content: center;
}

.align-items-center {
   align-items: center;
}

.nav-hover:hover {
   border-bottom: 3px solid gray;
   color: red;
}
.img-fluid{
   width:100%;
}