#main-container {
   width: 100%;
   height: 530px;
   border: 1px solid black
}

#navbar-container {
   width: 100%;
   height: 60px;
   border: 0px solid black;
   background-color: #F6F8FC;
   display: flex;
}

#logo-container {
   width: 20%;
   height: 60px;
   border: 0px solid black;
   display: flex;
}

#search-container {
   width: 60%;
   height: 60px;
   border: 0px solid black;
   background-color: #EAF1FB;
   display: flex;
   border-radius: 10px;
}

#empty-container {
   width: 10%;
   height: 60px;
   border: 1px solid black;
}

#profile-container {
   width: 10%;
   height: 60px;
   border: 1px solid black;
}

#toggle-bar {
   width: 30%;
   height: 60px;
   border: 0px solid black;
}

#logo {
   width: 70%;
   height: 60px;
   border: 0px solid black;
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.left {
   display: flex;
   justify-content: left;
   align-items: center;
}

#logo * {
   font-family: 'Arial';
   font-size: 23px;
}
#search-icon{
   width: 10%;
   height:60px;
   border:0px solid black;
   border-radius: 10px 0px 0px 10px;
}
#search-input{
   width: 80%;
   height:60px;
   border:0px solid black;
}
#last-icon{
   width: 10%;
   height:60px;
   border:0px solid black;
   border-radius: 0px 10px 10px 0px;
}
#search{
   width:99%;
   height: 54px
}
#search{
   font-family: 'Arial';
   font-size:16px;
   outline: none;
   border: 0px solid black;
   background-color: #EAF1FB;
}