.nav {
   width: 90.5%;
   border: 1px solid gray;
   justify-content: space-between;
}

.nav-left {
   width: 40%;
}

.nav-right {
   width: 30%;
}

.banner {
   /* height: 500px; */
   height: fit-content;
   background-color: #B2D7F9;
}

.banner-right img {
   width: 80%;
}

.banner-left * {
   font-family: 'Arial';
}

.logo-side {
   width: 25%;
}

.after-logo {
   width: 20%;
}

.nav-left * {
   font-family: 'Arial';
   font-size: 12px;
   color: black;
   text-decoration: none;
}

.logo-side img {
   width: 80%;
}

.nav-right * {
   font-family: 'Arial';
   font-size: 12px;
   color: black;
   text-decoration: none;
}

#all_microsoft,
#search,
#cart,
#sign-in {
   width: 20%;
   border: 0px solid gray;
}

#mobile-nav {
   display: none;
}

#one_person_btn {
   background-color: #005CA5;
   width: fit-content;
   height: fit-content;
   font-size: 15px;
   color: white;
   padding: 9px;
   border: 1px solid #005CA5;
}

#six_people_btn {
   /* background-color: #005CA5; */
   width: fit-content;
   height: fit-content;
   font-size: 15px;
   color: white;
   padding: 9px;
   /* border: 1px solid #005CA5; */
   margin-left: 30px;
   color: #0067C6;
}

#six_people_btn * {
   color: #0067C6;

}