#heading1 {
   color: blue;
}

#heading1:hover {
   color: red;
   font-size: 60px;
   font-family: 'Arial';
}

.dropdown {
   width: 20%;
   height: 400px;
   background-color: black;
   display: none;
}

#message-container:hover .dropdown {
   display: block;
   margin-top:200px;
}