#container {
   display: flex;
}

#container div:first-child {
   width: 50%;
   height: 200px;
   border: 1px solid gray;
}

#container div:last-child {
   width: 50%;
   height: 200px;
   border: 1px solid gray;
}

#container div:first-child::first-letter {
   font-size: 200px;
   color: red;
}